body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size:15px;
    font-family: monospace;
    background-image: url("Epam.jpg");
    background-size: cover;
}

#bothlogin{
    position: relative;
    margin: 10% auto;
    height: 600;
    width: 600px;

}

.manual-login{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 50px;
    width: 300px;
    height: 300px;
}
.account-login{
    position:absolute;
    top:0;
    right:0;
    box-sizing: border-box;
    padding: 50px;
    width:300px;
    height:250px;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 25px;
    font-family: monospace;
    color:white;
}
h2{
    font-size: 25px;
    font-family: monospace;
    color: white;
}

input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
    width:200px;
    height:30px;
    font-family: monospace;
    font-size: 15px;
}

button.register{
    margin-bottom: 28px;
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

button.account{
    margin-bottom: 30px;
    width:220px;
    height:36px;
    color:black;
    font-family: monospace;
    cursor:pointer
}

.epam{
    background: cyan;
}
.google{

    background: red;
}
.microsoft{
    background: greenyellow;
}

.facebook{
    background: blue;
}

